<div class="hovereffect">
  <img class="img-responsive" [src]="source" [alt]="alternateText">
  <div class="overlay">
    <h2>{{title}}</h2>
    <div class="rotate">
      <p class="group1">
        <a [href]="twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a [href]="facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
      </p>
      <hr>
      <hr>
      <p class="group2">
        <a [href]="instagram">
          <i class="fab fa-instagram"></i>
        </a>
        <a [href]="dribbble">
          <i class="fab fa-dribbble"></i>
        </a>
      </p>
    </div>
  </div>
</div>
